.sqaure{
	 -fx-background-color: #cde6d0; 
	 -fx-border-width: 5;
     -fx-border-color: black;
     -fx-pref-width: 100;
     -fx-pref-height: 150;
}
.Cornersqaure{
	 -fx-background-color: #cde6d0; 
	 -fx-border-width: 5;
     -fx-border-color: black;
     -fx-pref-width: 150;
     -fx-pref-height: 150;
}
.squareTop {
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-width: 5;
    -fx-border-color: black;
}
.squareTitle {
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a32413 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d8413a, #c5302c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 1,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2.1em;
}
.record-sales:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

/*Colors*/
.brown { -fx-background-color: #955436;}
.lightblue { -fx-background-color: #aae0fa;}
.pink { -fx-background-color: #d93a96;}
.orange { -fx-background-color: #f8931d;}
.red { -fx-background-color: #ed1b24;}
.yellow { -fx-background-color: #fef200;}
.green { -fx-background-color: #1fb25a;}
.darkblue { -fx-background-color: #0072bb;}